.container{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.containerText{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 20px;
}

.container3{
  display: flex;
  flex-direction: column;
  width: 45%;
  align-content: center;
  margin-left: 20px;
}

.titre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


html, body, p, h{
    background-color: #000000;
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;
}

h2{
  color: #f1f2f1
}

h1{
  color: #ffd300;
}

h3{
  color: #ffd300;
}

 
  html{
    cursor: url(../src/img/taxi2.png), auto;
  }

  #frame1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #frame2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #frame3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h3#paragraphe2{
    margin-right: 20px;
    margin-top: 27px;
  }

h3#paragraphe{
  margin-left: 20px;
  margin-top: 27px; 
}

#map {
  height: 400px;
  width: 100%;
}

#map2 {
  height: 400px;
  width: 100%;
}


button{
  padding: 10px 24px;
  background-color: #050801;
  color: #f1f2f1;
  font-weight: bold;
  border-color: #ffd300;
  border-radius: 5px;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.5s;
  cursor: url(../src/img/taxi.png), auto;
  width: 100px;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;

  
}

button:hover{
    background: #ffd300;
    color: #050801;
}

.button{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center; 
  margin-bottom: 20px; 
  
}

img{
  width: 100%;
  height: 100%;
}


.info {
    padding: 6px 8px;
    background: #ffd300;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 14px;
    color:#050801;
    border-radius: 5px;
}


.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}


